@font-face{
    font-family: SecularOne-Regular;
    src: url('SecularOne-Regular.ttf') format('truetype');
}

body {
    background-color: #8D1B3D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: SecularOne-Regular, serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.logo-menu {

    height: 13rem;
    margin: 0;
    padding: 0;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.enlaces-menu{
    display: flex;
    padding: 0;
}

.enlaces-menu li{
   padding: 0 2rem;
   list-style-type: none; 
   transition: 0.3s;
}

.enlaces-menu li a{
    text-decoration: none;
    font-size: 2.5rem;
    color: #8D1B3D;
    font-weight: 600;
 }

.active {
    color: #000000 !important;
}

 .enlaces-menu li a:hover{
    color: black;
 }

 .linea{
    background-color: #8D1B3D;
    height: 1px;
    border: none;
 }

.barras-menu{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: none;
}

.contenedor-header{
    padding-right: 4rem;
    background: rgb(214,214,204);
    background: linear-gradient(180deg, rgba(214,214,204,1) 0%, rgba(238,238,228,1) 100%);
}

.barras-menu span{
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.active-linea1-barras-menu{
    transform: rotate(45deg) translate(-2px, 1px);
}

.active-linea2-barras-menu{
    opacity: 0;
    margin-left: -30px;
}

.active-linea3-barras-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}

.contenedor-footer{
    background: #eeeee4;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

.iconos-footer{
    height:3rem;
    border:none;

}

.textos-footer{
    display: flex;
    justify-content: center;
    height: 3rem;
    align-items: center;
}

.textos-footer a{
    margin: 0 2rem;
    color: #8D1B3D;
    font-size: 1.5rem;
    text-decoration: none;
}

.textos-footer p{
    margin: 0 2rem;
    color: #8D1B3D;
    font-size: 1.5rem;
}

.textos-footer a:hover{
    color: black;
 }

.iconos-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos-footer i{
    margin: 1rem;
    font-size: 1.2rem;
}

.contenedor-principal{
    background-color:#8D1B3D;
}

.contenedor{
    width:90%;
    margin: auto auto 5%;
}

@media (max-width: 1080px){
.enlaces-menu li a{
 
    font-size: 2.0rem;
 }

 .contenedor-header{
    display: flex;
    justify-content: center;
 }

}

@media (max-width: 356px){
    .logo-menu{
        height: 8rem;
    }

    .contenedor-header{
        min-height: 8rem;
    }

    .textos-footer{
        flex-direction: column;
        justify-content: center;
        min-height: 6rem;
        align-items: center;
    }
}

@media (max-width: 190px){
    .logo-menu{
        display: none;
    }

    .enlaces-menu li a{
 
        font-size: 1.2rem;
     }

     .iconos-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 14rem;
    }
}

@media (max-width: 768px) {
    .barras-menu {
      display: block;
      position: absolute;
      top: 15px;
      right: 25px;

    }

    .nav-menu{
        flex-direction: column;
        align-items: flex-start;
        padding: 2.5rem 0;
    }

    .enlaces-menu{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 82vh;
        padding: 0;
        margin: 0;
        width: 100%;
        display: none;
    }

    .enlaces-menu li{ 
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .textos-footer a{
        font-size: 1.0rem;
    }
    
    .textos-footer p{
        font-size: 1.0rem;
    }

}

.enlaces-menu.active{
    display: flex;
}

.cuenta-regresiva {
    color: rgb(214,214,204);;
    text-align: center;
}

.cuenta-regresiva > h1, .cuenta-regresiva > h2 {
    font-size: 35em;
    letter-spacing: 0.5em;
}

.cuenta-regresiva > h2 {
margin-bottom: 3%;
}

.cuenta-regresiva > ul > li {
    display: inline-block;
    font-size: 30em;
    list-style-type: none;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

li span {
    display: block;
    font-size: 15rem;
}

.ganadores {
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
    background-color: #eeeee4;
    font-size: 10em;
    margin-top: 2em;
    color: black;
}

.ganadores:hover{
    background-color:#8D1B3D;
    color: white;
    cursor: pointer;
    text-shadow: none;
    font-size: 10em;
}
