body{
    background: #8D1B3D;
}


.contenedor{
    display: flex;
    min-height:100vh;
}

.contenedor-carrousel{
    max-width: 90rem;
    width:90%;
    margin:auto;
    overflow: hidden;
    box-shadow: 0 0 0 8px black,
                0 15px 40px;
    background-color: #eeeee4;
    border-radius: 20px;
    position: relative;
}

.carrousel{
    display:flex;
    width: 800%;
    height: 25rem;
    margin-left: -100%;
    

}

.contenedor-imagen{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-imagen iframe {
    display:none;
}

.contenedor-imagen h2{
    display: none;
}

.contenedor-imagen p{
    display: none;
}

.contenedor-imagen img{
    display: block;
    width: 60%;
    height: 60%;
    border-radius: 20px;
    object-fit: cover;
}

.btn{
    position: absolute;
    width: 3rem;
    height: 3rem;
    background:#8D1B3D;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline:none;
}


.btn:hover {
    background: #D2426D;
}

.btn-derecha{
    right: 0.2rem;
    transform: rotate(180deg);
}

.btn-izquierda{
    left: 0.2rem;
}

@media (min-width: 220px){
    .contenedor-imagen h2{
        display: block;
        font-size:2rem;
        color: #8D1B3D;
    }
    
    .contenedor-imagen p{
        display: block;
        font-size:1.8rem;
        color: #8D1B3D;
    }

    .btn-derecha{
        right: 0.6rem;
    }
    
    .btn-izquierda{
        left: 0.6rem;
    }

    .contenedor-imagen img{
        width: 70%;
        height: 70%;
        
    }
}

@media (min-width: 568px) {
    .contenedor-imagen img{
        width: 80%;
        height: 80%;
        
    }

    .carrousel{
        height: 40rem;
    }

    .btn-derecha{
        right: 1rem;
    }
    
    .btn-izquierda{
        left: 1rem;
    }

    .btn{
        width: 4rem;
        height: 4rem;
        font-size: 2.5rem;
    }
}


@media (min-width: 768px) {
    .contenedor-imagen iframe {
        display:block;
        width: 15rem;
        height: 15rem;
    }

    .carrousel{
        height: 70rem;
    }

}